* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #232323;
    font-family: 'Montserrat', sans-serif;
}

#navbar {
    position:sticky;
    top: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px;
    z-index: 10;
    transition: all .5s ease;
}

.nav-active {
    background-color: #232323a6;
}

.nav-transparent {
    background-color: transparent;
}

.logo {
    margin-right: auto;
    transition: all .8s;
}

.line {
    cursor: pointer;
    margin: 0 10px;
}

.achor {
    font-family: 'Montserrat', sans-serif;
    color: #e2b159;
    font-size: 18px;
    letter-spacing: 1px;
    font-weight: 200;
    text-align: center;
    text-decoration: none;
    padding: 10px 20px;
    position: relative;
    display: inline-block;
    transition: all .8s;
}

.achor:before{
    content: '';
    position: absolute;
    left: 5px;
    border-bottom: 1px solid #e2b159;
    height: calc(100% - 10px);
    width: 0;
    transition: 0.3s ease-in-out;
    transform: scaleX(1);
}

.achor:hover:before {
    width: 93%;
}

.achor span {
    position: relative;
    z-index: 3;
}

#nav-mobile {
    display: none;
    background-color: #2323239d;
}

.style {
    opacity: 0;
}

#container {
    display: flex;
}

.item {
    background-size: cover;
    height: 90vh;
    background-position: center;
    position: relative;
    flex: 1;
}

.one {
    background-image: url(1.jpeg);
}

.two {
    background-image: url(2.jpeg);
}

.three {
    background-image: url(3.jpeg);
}

.four {
    background-image: url(4.jpg);
}

.five {
    background-image: url(5.jpg);
}

h3 {
    font-size: 25px;
    position: absolute;
    top: 40px;
    left: 20px;
    color: #e2b159;
    background-color: #232323;
    font-weight: 400;
    letter-spacing: 0.15rem;
    padding: 10px;
    border-radius: 3px;
    opacity: 0;
}

.item_paragraph {
    font-size: 15px;
    position: absolute;
    letter-spacing: 1px;
    top: 120px;
    left: 20px;
    color: #e2b159;
    background-color: #232323;
    width: 650px;
    font-weight: 200;
    border-radius: 3px;
    padding: 5px;
    opacity: 0;
}

.item_price {
    font-size: 20px;
    position: absolute;
    bottom: 40px;
    left: 20px;
    color: #e2b159;
    background-color: #232323;
    font-weight: 200;
    letter-spacing: 1px;
    border-radius: 3px;
    padding: 5px;
    opacity: 0;
}

.selected {
    flex: 4;
}

.selected h3 {
    opacity: 1;
    transition: all 2s ease-out;
}
.selected .item_paragraph {
    opacity: 1;
    transition: all 2s ease-out;
}

.selected .item_price {
    opacity: 1;
    transition: all 2s ease-out;
}

#main {
    display: flex;
    justify-content: c;
    align-items: center;
    flex-wrap: wrap;
    height: 90vh;
}

.description {
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
    flex: 1;   
}

.description p {
    padding: 10px 30px;
    color: #fff;
    font-size: 15px;
    font-weight: 200;
    letter-spacing: 1px;
    text-align: center;
}

.description-photo {
    display: flex;
    justify-content: center;
    flex: 1;
}

#line-hr {
    margin: -30px auto 30px;
	padding: 0;
	height: 50px;
	border: none;
	border-bottom: 1px solid #e2b159;
	box-shadow: 0 20px 20px -20px rgba(128, 127, 127, 0.671);
	width: 95%;
}

.office {
    filter: grayscale(120%);
}

#title {
    display: flex;
    justify-content: center;
    background-color: #131313;
    padding-top: 40px;
}

#container_dignities {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #131313;
    height: 60vh;
}

#container_inner {
    opacity: 0;
}

#container_inner p{
    color: #fff;
    font-size: 15px;
    font-weight: 200;
    letter-spacing: 1px;
}

.section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0;
}

#head {
    display: flex;
    justify-content: center;
    padding-top: 50px;
}

h2 {
    text-align: center;
    color: #e2b159;
    font-size: 30px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 600;
}

#container-get-progect {
    display: flex;
    justify-content: center;
}

.unorder_list {
    margin-top: 40px;
    width: 500px;
    padding-bottom: 20px;
    }

.list {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: #fff;
    margin: 5px;
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 1px;
}


.forms input {
    width: 150%;
    padding: 7px 0;
    font-family: 'Montserrat', sans-serif;
}

.forms {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px 0;
    color: #fff;
}

#my-form-status {
    color: #fff;
    margin-top: 10px;
    font-size: 20px;
}

select {
    overflow: auto;
    width: 160%;
    padding: 7px 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

#my-form-button {
    position: relative;
    display: inline-block;
    color: #e2b159;
    border: 2px solid #e2b159;
    font-size: 20px;
    letter-spacing: 1px;
    font-weight: 200;
    margin: 20px;
    padding: 10px 20px;
    font-family: 'Montserrat', sans-serif;
    cursor: pointer;
    background-color: #232323;
}

#my-form-button:before {
    content: '';
    position: absolute;
    top: 6px;
    left: -2px;
    width: calc(100% + 4px);
    height: calc(100% - 12px);
    background-color: #232323;
    transition: 0.3s ease-in-out;
    transform: scaleY(1);
}

#my-form-button:hover:before {
    transform: scaleY(0);
}

#my-form-button:after {
    content: '';
    position: absolute;
    left: 6px;
    top: -2px;
    height:calc(100% + 4px);
    width: calc(100% - 12px);
    background-color: #232323;
    transition: 0.3s ease-in-out;
    transform: scaleX(1);
}

#my-form-button:hover:after {
    transform: scaleX(0);
}

#my-form-button span {
    position: relative;
    z-index: 3;
}

#container_customers {
    background-color: #131313;
}

#container_kitchen_customers {
    margin-top: 30px;
    padding-bottom: 50px;
}

#kolonna {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#inner {
    position: relative;
    margin: 30px;
    opacity: 0;
}

#par {
    position: absolute;
    opacity: 0;
    top: 0;
    left: 0;
    width: 430px;
    height: 254px;
    padding: 0 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #2b2a2aa9;
    transition: 0.5s ease;
}

#inner:hover #par {
    opacity: 1;
}

#par h4 {
    font-size: 25px;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 1.5px;
    color: #fff;
}

#par p {
    font-size: 16px;
    font-weight: 300;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: .5px;
    color: #fff;
    text-align: center;
    margin-top: 5px;
}

.container_two {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px 0;
}

#photo_part {
    position: relative;
}

#photoes{
    background-position: top center;
}


#slide-title {
    font-size: 30px;
    font-weight: 600;
    width: 700px;
    text-transform: uppercase;
    margin-left: 20px;
    margin-top: 10px;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: .1px;
    color: #fff;
}

#slide-title-two {
    font-size: 20px;
    font-weight: 200;
    width: 700px;
    text-transform: uppercase;
    margin-left: 20px;
    margin-top: 10px;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: .1px;
    color: #fff;
}

#card {
    background: #4d4d4d88;
    width: 100%;
    height: 350px;
    bottom: 4px;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#back, #next {
    margin: 22px;
}

#container_promotion {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#panel {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.banner {
    background-image: url('https://images.pexels.com/photos/3773571/pexels-photo-3773571.png?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
    width: 600px;
    height: 300px;
    background-position: bottom;
    background-size: cover;
    margin-left: 20px;
}

.color {
    width: 300px;
    height: 300px;
    background-color: #131313;
}

.info {
    margin: 30px 0 0 20px;
    width: 100%;
    height: 100%;
}


.color p {
    font-family: 'Montserrat', sans-serif;
    letter-spacing: .1px;
    color: #fff;
    text-align: left;
    font-size: 25px;
    font-weight: 600;
}

.banner_two {
    background-image: url('sale.jpg');
    width: 500px;
    height: 300px;
    background-position: bottom;
    background-size: cover;
}

.banner_two p, .banner p {
    font-family: 'Montserrat', sans-serif;
    letter-spacing: .1px;
    color: #fff;
    text-align: left;
    font-size: 23px;
    font-weight: 600;
}

#btn-more {
    border: 1px solid #e2b159;
    background-color: transparent;
    color: #e2b159;
    padding: 10px 20px;
    margin-top: 40px;
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 1px;
    cursor: pointer;
    transition: .7s;
}

#btn-more:hover {
    color: #fff;
    background-color: #df9815;
    border: 1px solid #df9815;
}

.color_two {
    width: 400px;
    height: 300px;
    background-image: url('kitchenSix.jpg');
    background-position: bottom;
    background-size: cover;
    margin-left: 20px;
}

.color_two p {
    font-family: 'Montserrat', sans-serif;
    letter-spacing: .1px;
    color: #000000;
    text-align: left;
    font-size: 20px; 
}

.content-par {
    font-weight: 900;
    margin-bottom: 10px;
}

.panel-style {
    margin-top: 20px;
}

#container_order_call {
    margin: 60px 0;
    background-image: url('https://images.pexels.com/photos/2117937/pexels-photo-2117937.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260');
    background-position: center;
    background-size: cover;
    height: 300px;
}

#call_block {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#call_block p {
    font-family: 'Montserrat', sans-serif;
    letter-spacing: .1px;
    color: #fff;
    text-align: center;
    font-size: 23px;
    font-weight: 600;
    width: 700px;
    line-height: 2rem;
}

#btn_call {
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    padding: 10px 20px;
    font-size: 18px;
    letter-spacing: 1px;
    font-weight: 400;
    text-decoration: none;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: transparent;
    border: 2px solid #fff;
    transition: .7s;
    cursor: pointer;
}

#btn_call:hover {
    color: #fff;
    background-color: #df9815;
    border: 2px solid #df9815;
}

#container-result {
    position: fixed !important;
    display: none;
    width: 100%;
    height: 100%;
    bottom: 0;
    left: 0;
    z-index: 50;
}

#overlay {
    width: 100%;
    height: 160%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #66666693;
}

#modal-window {
    width: 430px;
    height: 350px;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    top: 25%;
    left: 35%;
    background-color: #f9f9f9;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

#modal-window img {
    position: absolute;
    right: -15px;
    top: -17px;
    filter: contrast(110%);
    cursor: pointer;
}

#name, #telephone {
    width: 80%;
    padding: 7px 0;
    margin-top: 15px;
    font-family: 'Montserrat', sans-serif;
    color: #000000;
    font-size: 17px;
}

.label-style {
    font-family: 'Montserrat', sans-serif;
    color: #747474;
    font-size: 17px;
}

.modal-par {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    color: #000000;
    font-size: 25px;
    font-weight: 600;
    margin-top: 40px;
}

#btn-alert {
    border: none;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    background-color: #131313;
    font-size: 17px;
    letter-spacing: 1px;
    padding: 10px 20px;
    font-weight: 400;
    margin-top: 25px;
}

.par-alert {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    color: #bd1a1a;
    font-size: 20px;
    font-weight: 600;
    margin-top: 20px;
}

#container_contact {
    background-color: #131313;
}

.map {
    margin-top: 40px;
}

#head p {
    font-family: 'Montserrat', sans-serif;
    color: #e2b159;
    font-size: 17px;
    text-align: center;
}

#module-address {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.address, .tel-email {
    list-style: none;
    width: 320px;
    text-align: center;
}

.tel-email {
    margin: 15px 0;
}

.address li, .tel-email li {
    font-family: 'Montserrat', sans-serif;
    font-style: 17px;
    font-weight: 300;
    color: #fff;
    letter-spacing: .5px;
    line-height: 20px;
}

#line-hr-two {
    margin: -30px auto 10px;
    padding: 0;
    height: 50px;
    border: none;
    border-bottom: 1px solid #e2b159;
    box-shadow: 0 20px 15px -20px rgba(128, 127, 127, 0.671);
    width: 35%;
}

.tel, .mail {
   text-decoration: none;
   color: #fff;
}

#buttonUp {
    position: fixed;
    cursor: pointer;
    right: 15px;
    z-index: 50;
    bottom: 30px;
    background-color: transparent;
    border: none;
    opacity: 0;
    transition: all .5s;
}

#container_footer {
    background-color: #232323;
    padding: 30px 0;
}

footer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

#first, #second, #three, #four {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#first {
    margin-left: 10px;
}

#second p, #three p, #four p {
    color: rgb(214, 210, 210);
    font-size: 14px;
    font-weight: 300;
    line-height: 20px;
    cursor: pointer;
}

#inner-partner p {
    color: rgb(138, 138, 138);
    font-size: 12px;
    font-weight: 200;
}


@media all and (max-width:1300px) {
    .achor {
        font-size: 20px;
    }

    .item_paragraph {
        width: 470px;
    }
    
    #main {
        height: 60vh;
    }

    #container_dignities {
        height: 40vh;
    }

    #buttonUp {
        right: 320px;
    }
}

@media all and (max-width:1000px) {
    .achor {
        font-size: 17px;
    }

    .item_paragraph {
        width: 350px;
    }

    .unorder_list {
        margin-left: 0;
    }

    #main {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 90vh;
    }
 
    .description p {
        padding: 10px 20px;
    }

    #slide-title {
        font-size: 27px;
        width: 500px;
    }

    #slide-title-two {
        font-size: 20px;
        font-weight: 200;
        width: 500px;
    }

    #back, #next {
        margin: 30px;
    }

    #modal-window {
        top: 25%;
        left: 15%; 
    }

    #second p, #three p, #four p {
        font-size: 12px;
    }

    #inner-partner p {
        font-size: 10px;
    }

    #buttonUp {
        right: 250px;
    }
}


@media all and (max-width:800px) {
    .unorder_list {
        margin-left: 0;
    }
}


@media all and (max-width:500px) {
    #container {
        display: flex;
        flex-direction: column;
        height: 100vh;
        padding-top: 0;
    }

    #navbar {
        display: none;
    }

    #nav-mobile {
        display: block;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }

    .myNav {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }

    .achor {
        padding: 5px 0;
        font-size: 15px;
    }

    .achor:before{
        height: calc(100% - 5px);

    }

    .logo {
        width: 120px;
        height: 40px;
        margin-left: 2px;
    }

    .line {
        margin-right: 5px;
    }

    h3 {
        font-size: 20px;
    }

    .item_paragraph {
        width: 330px;
        font-size: 13px;
    }

    .item_price {
        font-size: 16px;
    }

    h2 {
        font-size: 23px;
    }

    .description p {
        padding: 10px;
        font-size: 12px;
    }

    #main {
        height: 90vh;
    }

    .description-photo img {
        width: 300px;
        height: 270px;
    }

    #container_dignities {
        height: 60vh;
    }

    #container_inner p{
        font-size: 12px;
    }

    .section img {
        width: 50px;
    }

    .list {
        font-size: 11px;
    }

    .unorder_list {
        width: 370px;
    }

    #my-form-button {
        font-size: 17px;
        padding: 10px;
    }

    #inner img {
        width: 370px;
    }

    #inner {
        margin: 10px;
    }

    #par {
        width: 350px;
        height: 209px;
    }

    #par h4 {
        font-size: 21px;
    }

    #par p {
        font-size: 14px;
    }

    #photoes {
        width: 310px;
        height: 200px;
    }

    #card {
        height: 200px;
    }

    #slide-title {
        font-size: 18px;
        width: 280px;
    }

    #slide-title-two {
        font-size:15px;
        width: 280px;
    }

    #back, #next {
        margin: 5px;
    }

    #back img, #next img {
        width: 20px;
    }

    .color {
        width: 250px;
        height: 100px;
    }

    .banner {
        width: 330px;
        height: 200px;
        margin-left: 0;
    }

    .banner_two p, .banner p {
        font-size: 15px;
    }

    #btn-more {
        padding: 10px ;
        margin-top: 20px;
        font-size: 13px;
    }

    .banner_two {
        width: 330px;
        height: 200px;
    }

    .color_two {
        width: 330px;
        height: 200px;
        margin-left: 0;
    }

    .color_two p {
        color: #000000;
        font-size: 16px; 
    }

    #call_block p {
        font-size: 17px;
        width: 350px;
    }

    .address li, .tel-email li {
        font-size: 13px;
    }

    #buttonUp {
        right: 20px;
    }

    #modal-window {
        width: 330px;
        height: 300px;
        top: 25%;
        left: 5%; 
    }

    .label-style {
    font-size: 14px;
    }

    footer {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-left: 20px;
    }

    #name, #telephone {
        width: 60%;
        padding: 6px 0;
        font-size: 13px;
    }

    #btn-alert {
        font-size: 15px;
        margin-top: 5px;
    }

    .par-alert {
        font-size: 16px;
        margin-top: 10px;
    }

    #inner-ico img {
        width: 20px;
    }

    #first {
        margin-left: 0;
    }

    #first, #second, #three, #four {
        margin-top: 10px;
    }


}
